.App {
  text-align: center;
}

body {
  background-image: url('./images/whiteGradient.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.extend {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
}

.logo {
  height: 80px;
  width: 80px;
}

.item {
  font-size: large;
}

.centered {
  margin-left: auto;
	margin-right: auto;
	display: block;
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

.searchContent {
  margin: 55px 0;
  font-size: 120%;
}

.searchItem {
  margin: 40px 0;
}

.searchList {
  float: left;
  position: relative;
  left: 37%;
}

.medium {
  height: 60%;
  width: 60%;
}

.ui.celled.collapsing.very.basic.table {
  margin: 0 auto;
}

.margLeft {
  margin-left: 15%;
}

.margRight {
  margin-right: 15%;
}

.ui.button.compButton {
  margin-top: 20px;
}

.bottomMarg {
  margin-bottom: 150px;
}

.compareHeader {
  text-align: center;
  border-style: solid;
  border-width: thick;
}

.ui.striped.celled.table {
  margin: auto;
  text-align: center;
}

hr {
  margin-bottom: 30px;
  border-style: solid;
}

.scoreboard {
  margin: 0 auto;
  width: auto;
}

.ui.card {
  width: 80px;
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
  border-style: solid;
  box-shadow: 6px 6px 5px grey;
}

.scoreGroup {
  margin-bottom: 30px;
}

.xxl {
  font-size: 500%;
}

.extra.content.cardBtm {
  font-size: xx-small;
  color: white;
  background-color: black;
}

b {
  font-weight: 900;
}

.ui.celled.compact.table.striped {
  font-size: small;
  text-align: center;
  box-shadow: 1px 5px 16px 8px grey;
}

.centered.left.bottomMarg {
  margin-left: 10%;
}

.centered.right {
  margin-right: 10%;
}

.large {
  font-size: 130%;
}

.bold {
  font-weight: bold;
}

.smallLogo {
  width: 23px;
  height: 23px;
}

.mediumLogo {
  width: 65px;
  height: 70px;
}

.mediumPic {
  width: 400px;
  height: 230px;
}

.textBlock {
  margin-left: 300px;
  margin-right: 300px;
}

.ui.black.active.progress {
  margin-left: auto;
	margin-right: auto;
	display: block;
  text-align: center;
  margin-bottom: 60px;
}

/* .bgimage {
background-image: url('./images/nets.gif');
background-size: auto;
opacity: 0.85;
} */

/* .welcomeHeader {
text-align: center;
color: white;
} */


/* .tint {
background-color: rgba(0, 0, 0, 0.5);
} */
