.App {
  text-align: center;
}

.extend {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
}

.logo {
  height: 80px;
  width: 80px;
}

.item {
  font-size: large;
}

/* .bgimage {
background-image: url('./images/nets.gif');
background-size: auto;
opacity: 0.85;
} */

/* .welcomeHeader {
text-align: center;
color: white;
} */


/* .tint {
background-color: rgba(0, 0, 0, 0.5);
} */
